/* Global Layout Set-up */
* {

}
.midpage {
    background-color: white;
}
#studentname {
    font-family: arial;
    font-weight: bold;
    font-size: 20.8px;
    margin: 3% 0 0 3%;
    color: #333333;
}
.flex-container {
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.introparagraph {
    font-size: 100%;
    margin-left: 1%; 
    background-color: #f5f5f5;
    padding: 0% 2% 10% 2%; 
}
.paragraph1 {
    color: #949494;
    text-align: justify;
    margin-top: 2%;
    font-family: arial;
    font-size: 100%;
}
.profileimage {
    width: 29%;
    float:right;
    padding-top: 2%;
    margin-top: -10%;
}
.middlepage {
    color: #656565;
}
.head4midpg {
    color: darkslategray;
    display:fixed;
    padding-top: 2%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
}
.imagefirstrow {
    display: flex;
    justify-content: space-around;
}
.paragraphfirstrow {
    margin-left: 10%;
    padding-right: 13%;
    font-size: 150%;
    color: grey;
    display: flex;
    justify-content: space-between;
}
#pfr1 {
    margin-left: 1%;
}
.descriptionfirstrow {
    color:grey;
    margin-top: -3%;
    padding-right: 1%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 3%;
}
#dfr1 {
    margin-left: 7%;
}
#dfr2{
    position: center;
}
#dfr3 {
    position: center;
    margin-right: 7%;
}
.imagessecondrow {
    display: flex;
    justify-content: space-around;
}
.paragraphsecondrow {
    color: grey;
    display: fixed;
    font-size: 150%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
#psr1 {
    margin-left: 9%;
   margin-right: 23%;
}
#psr2 {
    text-align: center;
    margin-left: -2%;
}
#psr3 {
    margin-left: 26%;
}
.descriptionsecondrow {
    color: grey;
    margin-top: -3%;
    padding-right: 1%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 3%;
}
.dsr1 {
    margin-left: 7%;
}
.dsr2 {
    position: center;
}
.dsr3 {
    margin-right: 6%;
}
.footer {
    margin-top: 5%;
    display:relative;
    margin-left: 0%;
    text-align:center;
}
.contactheading {
    font-size: 15px;
    color: grey;
    font-family:Arial, Helvetica, sans-serif;
    padding-bottom: 1%;
}
.footerparagraph {
    color: lightslategrey;
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
}
#phone {
    padding-top: 2%;
    color: slategray;
    font-size: 20px;
}
#email {
    color: slategrey;
    font-size: 20px;
}
#studentnamebottom {
    color: darkslategray;
    text-align: left;
    font-size: 17px;
    margin-bottom: -5%;
    margin-left: 2%;
}
.flex-container1 {
    color:darkslategray;
    font-size: small;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    margin-bottom: -5%;
    padding-top: 1.5%;
}
hr {
    background-color: lightgray;
    height: 1px;
    border: 0;
}

@media screen and (min-width:1100px) {
 
body {
    font-size: 80%;
}
#psr3 {
    margin-left: 23%;
}
}

@media screen and (min-width:768px) {
    body {
        font-size: 50%;
    }
    #studentname {
        font-size: 15px;
        margin-left: 50%;
    }
    .introparagraph {
        padding-top: 1%;
        display:flex;
        flex-direction: column-reverse;
        margin-left: 40%;
    }
    .paragraph1 {
        text-align: center;
        margin-right: 50%;
    }
    .profileimage {
        height: auto;
        width: 50%;

    }
    .flex-container {
        font-size: smaller;
        margin-left: 8%;
        padding-bottom: 2%;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .head4midpg {
        margin-left: 11%;
        text-align: center;
    }
    .imagefirstrow {
        display: flex;
        flex-direction: column;
        margin-left: 47%;
    }
    .lightbluemarketingimg {
        padding-bottom: 15%;
    }
    .yellowsearchimg {
        padding-bottom: 15%;
    }
    .bluetravelimg {
        padding-bottom: 15%;
    }
    .paragraphfirstrow {
        margin-top: -45%;
        margin-left: 49%;
        display: flex;
        flex-direction: column;
    }
    #pfr1 {
        padding-top: 5%;
    }
    #pfr2 {
        padding-top: 27%;
        margin-left: 4%
    }
    #pfr3 {
        margin-left: 5%;
        padding-top: 29%;
    }
    .descriptionfirstrow {
        margin-top: -37%;
        display:flex;
        flex-direction: column;
    }
    #dfr1 {
        margin-left:10%;
        padding-bottom: 10%;
    }
    #dfr2 {
        padding-bottom:10%;
        margin-left: 10%;
    }
    #dfr3 {
        text-align: center;
        margin-left: 18%;

    }
    .imagessecondrow {
        display: flex;
        flex-direction: column;
        margin-left: 47%;
        top: 40px;
    }
    .paragraphsecondrow {
        display: flex;
        flex-direction: column;
        margin-top: -35%;
    }
    #psr1 {
        margin-left: 33%;
        padding-bottom: 10%;
    }
    #psr2 {
        margin-left: 10%;
        padding-bottom: 11%;

    }
    #psr3 {
        margin-right: 15%;
    }
    .descriptionsecondrow {
        display: flex;
        flex-direction: column;
        margin-top: -36%;
        margin-left: 4%;
    }
    .dsr1 {
        padding-bottom: 9%;
    }
    .dsr2 {
        margin-left: 7%;
        padding-bottom: 11%;
    }
    .dsr3 {
        margin-left: 12%;
    }
    .bluemapsimg {
        padding-bottom: 15%;
    }
    .purplecalendarimg {
        padding-bottom: 15%;
    }
    .contactheading {
        margin-left: 8%;
    }
    .footerparagraph {
        font-size:100%;
        margin-left: 7%;
    }
    #phone {
        margin-left: 5%;
        font-size: 10px;
    }
    #email {
        font-size: 10px;
        margin-left: 6%;
    }
    .flex-container1 {
        font-size: smaller;
    }
    #studentnamebottom {
        font-size: 12px;
    }
}
